<%- include("partials/header.ejs")  %>

<h1>Compose a New Post</h1>
<form action="<%= post ? '/edit/' + post.id : '/compose' %>" method="POST">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" value="<%= post ? post.title : '' %>" name="title" required>
    </div>
    <div class="form-group">
        <label for="content">Content:</label>
        <textarea class="form-control" id="content" name="content" rows="10" required><%= post ? post.content : '' %></textarea>
    </div>
    <div class="form-group">
        <label for="author">Author:</label>
        <input type="text" class="form-control" id="author" name="author" value="<%= post ? post.author : '' %>" required>
    </div>
    <button type="submit" class="btn btn-primary"><%= post ? "Update Post" : "Publish Post" %></button>
</form>

<%- include("partials/footer.ejs")  %>